#detailedImage {
  height: auto;
  border-radius: 20px;
  max-width: 60%;
  width: 60%;
  overflow: auto;
  display: block; /* Ensure the image is treated as a block element */
  margin-left: auto;
  margin-right: auto;
}



#detailedTitle
{
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 10px;
  margin: 0;
}

.detailedPage {
  text-align: left;

  width: 75%;
  height: auto;
  border-radius: 20px;
  padding: 30px;
  background-color: #1f1f1f;
  color: rgb(255, 255, 255);
  
  margin: auto;
  margin-top: 40px;
}

#topRowDetailed
{
  display: flex;
  justify-content: space-between;
}

.detailedIcon
{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;
}

.detailedIcon:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.detailedIcon:active
{
    transform: scale(1.2);

}

.raveContainer
{
    text-align: center;
    border-radius: 40px;
    width: 100px;
    background-color: rgb(10, 206, 26);
}

.rantContainer
{
    text-align: center;
    border-radius: 40px;
    width: 100px;
    background-color: rgb(206, 10, 10);
}

#flagTxt
{
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

#roundedDivider
{
  border-top: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: 90%;
}

#bottomRowDetailed
{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.alterButton
{
  border-radius: 50px;
  border: 2px solid transparent;
  padding: 1em 1.5em;
  font-size: 15px;
  font-family: inherit;
  background-color: #303030;
  color: rgb(117, 67, 235);
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 10px;
  margin-bottom: 10px;
}

#upvoteRow
{
  display: flex;
  flex-direction: row;
  align-self: start;
}

#upvoteTxt
{
  font-size: 1.2em;
  font-weight: 500;
}