.secretPage
{
    width: 20%;
    height: auto;
    border-radius: 20px;
    padding: 30px;
    background-image: linear-gradient( rgb(32, 32, 32), rgb(29, 29, 29));
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

#secretInput
{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 35px;
    padding: 10px;
    margin: 5px;
    max-width: 86%;
    width: 86%;
    overflow: auto;
    height: auto;
    background-color: rgb(29, 29, 29);
}

#secretSubmit
{
    margin-top: 10px;
}