/* App Logo */
.appLogo,
.headerAssets {
  display: flex;
  align-items: center;
  color: #dfdfdf;
}

.appLogo {
  margin-left: 30px;
  font-weight: lighter;
}

#appLogoColor {
  margin-right: 20px;
  font-weight: 700;
  color: rgb(186, 98, 224);
}

/* Navigation Bar */
.reviewApp-nav {
  width: 100%;
  height: 60px;
  background-color: rgb(29, 29, 29);
  color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

/* Create Page */
.createPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header Assets */
h5.headerAssets {
  margin: 0;
  margin-right: 30px;
  font-size: 0.8em;
}

h2.headerAssets {
  margin: 0;
  margin-left: 10px;
  font-size: larger;
}

input.headerAssets {
  width: 20%;
  height: auto;
  border-radius: 20px;
  background-color: #dfdfdf;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  margin-left: 10px;
  color: rgb(29, 29, 29);
}

/* Review Form */
.reviewForm {
  text-align: center;
  width: 50%;
  border-radius: 20px;
  background-image: linear-gradient( rgb(32, 32, 32), rgb(29, 29, 29));
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 40px;
}

.labelTxt {
  font-size: 1.2em;
  font-weight: 500;
  margin-right: 10px;
  color: #dadada;
}

.formButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dadada;
  color: #101249;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 10px;
  margin-bottom: 10px;
}

.additionalInputs {
  margin-top: 10px;
  padding: 5px;
  width: 50%;
  height: 30px;
}

#contentInput {
  padding: 5px;
  margin-top: 10px;
  max-width: 80%;
  width: 80%;
  overflow: auto;
}

/* Read Page */
.readPage {
  width: 100%;
  overflow: hidden;
}

#filterRow {
  max-width: 100%;
  margin-top: 1%;
  margin-left: 11.5%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.filterButton {
  margin-left: 20px;
}

#userIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
