.block
{
    text-align: left;

    width: 75%;
    height: auto;
    border-radius: 20px;
    padding: 30px;
    background-color: #1f1f1f;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    margin: auto;
    margin-bottom: 40px;
}

.block:hover
{
    cursor:pointer;
    background-color: #222222;
}

.postTitle
{
    font-size: x-large;
    color: rgb(186, 98, 224);
    font-weight: 800;
    letter-spacing: .5px;
}
